In [1]:
import sqlite3

In [2]:
# Connect to the SQLite database (creates a new one if it doesn't exist)
connection = sqlite3.connect('mydatabase.db')

In [3]:
# Create a cursor object to execute SQL commands
cursor = connection.cursor()

In [4]:
# Create the 'Ages' table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Ages (
        name VARCHAR(128),
        age INTEGER
    )
''')

In [5]:
# Delete any rows previously inserted
cursor.execute('DELETE FROM Ages')

In [6]:
# Insert the specified rows
cursor.execute("INSERT INTO Ages (name, age) VALUES ('Mara', 28)")
cursor.execute("INSERT INTO Ages (name, age) VALUES ('Otto', 33)")
cursor.execute("INSERT INTO Ages (name, age) VALUES ('Fyn', 31)")
cursor.execute("INSERT INTO Ages (name, age) VALUES ('Neshawn', 17)")

In [7]:
# Commit the changes
connection.commit()

In [8]:
# Run the specified SQL command
cursor.execute("SELECT hex(name || age) AS X FROM Ages ORDER BY X")
result = cursor.fetchall()
print(result)

[('46796E3331',), ('4D6172613238',), ('4E65736861776E3137',), ('4F74746F3333',)]

In [9]:
# Close the connection
connection.close()